---
layout: default
title: Research Outputs
navbar_title: Research Outputs
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---

{% assign pubs_by_year = site.publications | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="row">
    <div class="col-12 col-lg-10">
        {% for year in pubs_by_year %}
        {% assign num_papers = year.items | size %}
        <h2 class="pt-4" id="year-{{ year.name }}">{{ year.name }}</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in year.items %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endfor %}

        <h2 class="pt-5" id="patent">Patent</h2>
        <div class="my-0 p-3 bg-white shadow-sm rounded-xl">
          <h5 class="mt-0 mb-1 font-weight-normal">A Deep Reinforcement Learning Method and System for Joint Optimization of Computing-Network Routing and In-Network Data Processing</h5>
          <p class="mt-0 mb-0 small">Xiaolong Cui, Xuebin Tang, Zixu Wang, Wei Huangfu, <strong>Zhenghao Xu</strong></p>
          <p class="mt-0 mb-0 small"><i>Chinese Invention Patent Application</i> No. 2026102073230, 2026</p>
        </div>
    </div>

    <div class="col-2 d-none d-lg-block">
        <div id="navbar-year" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            {% for year in pubs_by_year %}
            <a class="nav-link d-block" href="#year-{{ year.name }}">{{ year.name }}</a>
            {% endfor %}
            <a class="nav-link d-block" href="#patent">Patent</a>
        </div>
    </div>
</div>
